.Contenedor-incidencias{
  display: flex;
}
main{
  flex:1;
  padding: 20px;
  border:20px solid rgb(111, 111, 209);
}

aside{
  width: 600px;
  padding: 20px;
  border:20px solid rgb(111, 111, 209);
}