.btn.btn-success.mx-auto.d-grid{
    background-color: rgb(10, 10, 10) ;
    color: white ;
}

.text-titulopersonalizado-verde{
    background-color: rgb(205, 204, 204);
}

.mb-3.form-control{
 background-color:#c4c4c4ff ;
}
